#create-task-section{
    margin: auto;
    padding-top: 0.5rem;
}

#create-task-section h2{
    text-align: center;
    margin-bottom: 20px;
}

.input-area{
    display: block;
    margin: 10px;
}

.input-area label{
    display: block;
    margin-bottom: 6px;
}

.input-area input,
.input-area select{
    padding: 5px 10px;
    height: 40px;
    width: 400px;
    border-radius: 8px;
    border: 0;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.2);
}

.input-area textarea{
    padding: 5px 10px;
    height: 120px;
    width: 400px; 
    border-radius: 8px;
    border: 0;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.2);
}

.btn-submit{
    display: block;
    margin: auto;
    width: 50%;
}